body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(187, 217, 217);
    padding: 30px;
    border-radius: 10px;
}

input {
    margin: 10px;
}

button {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background-color:rgb(130, 218, 218);
    border-radius: 10px;
    border-color: rgb(187, 217, 217);
    margin-top: 10px;
}

.resultado {
    font-size: 20px;
    background-color: rgb(187, 217, 217);
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 10px;
}

.titulo {
    margin: 0 0 10px 0;
}

.leyenda {
    margin: 5px;
}